.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c0410b83;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(124, 35, 35);
}

.App-link {
  color: #a9430c8a;
}

.Input {
  font-size: calc(10px + 1.4vmin);
  background-color: #c0410b83;
  margin-bottom: 1%;
}

.Button {
  background-color: #e94d0a;
  width: 5%;
  font-size:xx-large
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
